@import url("./common.css");

/* Commons */
* {
  color: #fff;
}

body {
  background-color: #101010;
}

/* Email CSS */

.formContainer .inputContainer {
  width: fit-content;
  height: 10vh;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.formContainer .inputContainer input {
  position: relative;
  width: 40vw;
  height: 100%;
  font-size: 1.2rem;
  padding: 1.8em 1em 1em;
  color: #000;
  border: none;
  outline: none;
  border-radius: 0.3em 0 0 0.3em;
}

.formContainer .inputContainer input:focus {
  outline: 1px #002727 solid;
  border: none;
}

.formContainer .inputContainer .error {
  position: absolute;
  color: #ffa91e;
  text-shadow: 2px 2px 1px #000;
  font-weight: 300;
  font-size: 1rem;
  left: 0.5em;
  bottom: -1.5em;
}

.formContainer .inputContainer label {
  position: absolute;
  left: 10px;
  top: 25%;
  color: black;
  font-size: 1.2rem;
  transition: transform 0.2s, color 0.2s, font-weight 0.2s, font-size 0.2s;
}

.formContainer .inputContainer label.focused {
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
  transform: translateY(-75%);
  transition: transform 0.2s, color 0.2s, font-weight 0.2s, font-size 0.2s;
}

.formContainer .inputContainer button {
  height: 100%;
  width: 15vw;
  font-size: 1.2rem;
  border-radius: 0em 0.3em 0.3em 0;
  border: 1px solid black;
}

.formContainer .inputContainer button p {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 900px) {
  .formContainer .inputContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
  }

  .formContainer .inputContainer input {
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    height: 5vh;
    width: 60vw;
  }

  .formContainer .inputContainer label {
    top: 10%;
  }

  .formContainer .inputContainer .error {
    position: relative;
    bottom: initial;
    left: initial;
    width: 100%;
    text-align: left;
    padding-left: 0.8em;
    margin-bottom: 0.5em;
  }

  .formContainer .inputContainer button {
    border-radius: 0.3em;
    height: 10vh;
    width: 30vw;
  }
}

@media (max-width: 480px) {
  .formContainer .inputContainer input {
    font-size: 0.8rem;
  }

  .formContainer .inputContainer .error {
    font-size: 0.8rem;
  }

  .formContainer .inputContainer button {
    height: 7vh;
  }

  .formContainer .inputContainer button p {
    font-size: 0.7rem;
  }

  .formContainer .inputContainer label {
    font-size: 0.8rem;
  }

  .formContainer .inputContainer label.focused {
    font-size: 0.6rem;
  }
}

/* Commons */

/* Header Starts Here */

#header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-bottom: #222222 8px solid;
  background-image: url("../imgs/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
}

#header > nav img {
  width: 30%;
  height: 100%;
  object-fit: contain;
}

#header > nav button {
  width: 8em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 0.9rem;
}

#header > nav button p {
  font-size: 1rem;
  font-weight: 200;
}

@media (max-width: 750px) {
  #header > nav button {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #header > nav button {
    font-size: 0.5rem;
  }

  #header > nav button p {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  #header > nav img {
    width: 40%;
  }
}

#header > div {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header > div h1,
#header > div h2 {
  font-weight: 500;
}

#header > div h1 {
  font-size: 3.5rem;
}

#header > div h2 {
  font-size: 3rem;
}

#header > div > p {
  font-size: 1.5rem;
}

#header > div > p:first-of-type {
  font-weight: 300;
  margin: 0.8em 0em;
}

#header > div > p:last-of-type {
  font-weight: 200;
  margin-bottom: 0.8em;
  text-shadow: 1px 1px 1px #000;
}

@media (max-width: 830px) {
  #header > div h1 {
    font-size: 3rem;
  }
  #header > div h2 {
    font-size: 2.5rem;
  }

  #header > div > p {
    font-size: 1.2rem;
  }
}

@media (max-width: 635px) {
  #header > div h1 {
    font-size: 2.5rem;
  }
  #header > div h2 {
    font-size: 2rem;
  }

  #header > div > p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  #header > div h1 {
    font-size: 2rem;
  }
  #header > div h2 {
    font-size: 1.5rem;
  }

  #header > div > p {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  #header > div h1 {
    font-size: 1.5rem;
  }
  #header > div h2 {
    font-size: 1.3rem;
  }
}

/* Header Ends Here */

/* AnyDeviceSec Starts Here */

#anyDeviceSec {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: #222222 8px solid;
}

#anyDeviceSec > article {
  width: 40vw;
}

#anyDeviceSec > article h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.4em;
}

#anyDeviceSec > article p {
  font-size: 1.5rem;
  font-weight: 200;
}

#anyDeviceSec img {
  width: 30%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1000px) {
  #anyDeviceSec {
    flex-direction: column;
    height: 100vh;
  }

  #anyDeviceSec > article {
    width: 80vw;
    text-align: center;
  }

  #anyDeviceSec img {
    width: 80%;
    height: 60%;
  }
}

@media (max-width: 730px) {
  #anyDeviceSec > article h1 {
    font-size: 2rem;
  }

  #anyDeviceSec > article p {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  #anyDeviceSec > article h1 {
    font-size: 1.5rem;
  }

  #anyDeviceSec > article p {
    font-size: 0.75rem;
  }
}

/* AnyDeviceSec Ends Here */

/* downloadSec Ends Here */

#downloadSec {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  border-bottom: #222222 8px solid;
  padding: 2em 0em;
}

#downloadSec > article {
  width: 40vw;
}

#downloadSec > article h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.4em;
}

#downloadSec > article p {
  font-size: 1.5rem;
  font-weight: 200;
}

#downloadSec > .mobileContainer {
  position: relative;
  height: 100%;
  width: 30vw;
}

#downloadSec > .mobileContainer img[alt="mobile"] {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#downloadSec > .mobileContainer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 75%;
  background-color: #000;
  border: 3px solid #404040;
  border-radius: 1em;
  font-size: 1rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1.1em;
}

#downloadSec > .mobileContainer .posterContainer {
  display: flex;
  align-items: center;
}

#downloadSec > .mobileContainer > div img[alt="poster"] {
  height: 60%;
  width: 15%;
  object-fit: contain;
  margin-right: 10%;
}

#downloadSec > .mobileContainer .posterContainer p {
  font-weight: 200;
  font-size: 1rem;
}

#downloadSec > .mobileContainer > div img[alt="downloading"] {
  height: 95%;
  width: 25%;
  object-fit: contain;
}

@media (max-width: 1000px) {
  #downloadSec {
    flex-direction: column;
    height: 100vh;
  }

  #downloadSec > article {
    width: 80vw;
    text-align: center;
  }

  #downloadSec > .mobileContainer {
    height: 50%;
    width: 80vw;
  }

  #downloadSec > .mobileContainer > div {
    width: 40%;
  }
}

@media (max-width: 730px) {
  #downloadSec > article h1 {
    font-size: 2rem;
  }

  #downloadSec > article p {
    font-size: 1rem;
  }

  #downloadSec > .mobileContainer .posterContainer p {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  #downloadSec > .mobileContainer > div {
    width: 50%;
  }
}

@media (max-width: 430px) {
  #downloadSec > article h1 {
    font-size: 1.5rem;
  }

  #downloadSec > article p {
    font-size: 0.75rem;
  }

  #downloadSec > .mobileContainer .posterContainer p {
    font-size: 0.5rem;
  }

  #downloadSec > .mobileContainer > div {
    width: 70%;
  }
}

/* downloadSec Ends Here */

/* watchEverywhereSec Ends Here */
#watchEverywhereSec {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: #222222 8px solid;
}

#watchEverywhereSec > article {
  width: 40vw;
}

#watchEverywhereSec > article h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.4em;
}

#watchEverywhereSec > article p {
  font-size: 1.5rem;
  font-weight: 200;
}

#watchEverywhereSec img {
  width: 30%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1000px) {
  #watchEverywhereSec {
    flex-direction: column;
    height: 100vh;
  }

  #watchEverywhereSec > article {
    width: 80vw;
    text-align: center;
  }

  #watchEverywhereSec img {
    width: 80%;
    height: 60%;
  }
}

@media (max-width: 730px) {
  #watchEverywhereSec > article h1 {
    font-size: 2rem;
  }

  #watchEverywhereSec > article p {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  #watchEverywhereSec > article h1 {
    font-size: 1.5rem;
  }

  #watchEverywhereSec > article p {
    font-size: 0.75rem;
  }
}

/* watchEverywhereSec Ends Here */

/* kidsSec Ends Here */

#kidsSec {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: #222222 8px solid;
}

#kidsSec > article {
  width: 40vw;
}

#kidsSec > article h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.4em;
}

#kidsSec > article p {
  font-size: 1.5rem;
  font-weight: 200;
}

#kidsSec img {
  width: 30%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1000px) {
  #kidsSec {
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }

  #kidsSec > article {
    width: 80vw;
    text-align: center;
  }

  #kidsSec img {
    width: 80%;
    height: 60%;
  }
}

@media (max-width: 730px) {
  #kidsSec > article h1 {
    font-size: 2rem;
  }

  #kidsSec > article p {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  #kidsSec > article h1 {
    font-size: 1.5rem;
  }

  #kidsSec > article p {
    font-size: 0.75rem;
  }
}

/* kidsSec Ends Here */

/* FAQ Starts Here */

#faq {
  width: 100%;
  height: fit-content;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  padding: 2em 0;
  border-bottom: #222222 8px solid;
}

#faq h1 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0.6em;
}

#faq > .faqs {
  width: 60vw;
}

#faq .faqContainer {
  margin-bottom: 1em;
}

#faq .faqHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;
  font-size: 1rem;
  padding: 0em 1em;
  background-color: #303030;
  cursor: pointer;
}

#faq .faqHeader * {
  font-size: 1.5rem;
  font-weight: 200;
}

#faq .faqHeader p:nth-child(2) {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

#faq .faqContainer.open .faqHeader p:nth-child(2) {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

#faq .faqContent {
  padding: 1.3em;
  font-size: 1.2rem;
  font-weight: 200rem;
  background-color: #303030;
  border-top: 1px black solid;
  height: fit-content;
  overflow: hidden;
  transition: height 0.3s;
}

#faq .faqContainer .contentContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
}

#faq .faqContainer.open .contentContainer {
  max-height: 1200px;
  transition: max-height 0.25s;
}

/* #faq .faqContainer.open .faqContent {
  
  height: 66vh;
  transition: height 0.3s;
} */

#faq h2 {
  margin: 1em 0em 0.5em;
  text-align: center;
}

@media (max-width: 900px) {
  #faq h2 {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  #faq h1 {
    font-size: 2.5rem;
  }

  #faq .faqs {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  #faq h1 {
    font-size: 2rem;
  }

  #faq .faqHeader * {
    font-size: 1rem;
  }

  #faq .faqContent {
    font-size: 1rem;
  }
  #faq h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  #faq h1 {
    font-size: 1.4rem;
  }

  #faq h2 {
    font-size: 0.6rem;
  }
}

/* FAQ Ends Here */

/* Footer Starts Here */

#footer {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1em 0em;
}

#footer h1 {
  font-size: 1rem;
  font-weight: 100;
  width: 70%;
  text-align: left;
  color: #757575;
}

#footer nav {
  border-bottom: 3px solid #242323;
  width: 70%;
  font-size: 1rem;
  padding: 1em;
  margin-bottom: 1em;
}

#footer nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#footer ul li {
  list-style: none;
  font-size: 0.8rem;
  margin: 1em;
  color: #757575;
}

#footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#footer span {
  color: crimson;
}

@media (max-width: 980px) {
  #footer nav ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #footer nav ul {
    grid-template-columns: 1fr 1fr;
  }
}

/* Footer Ends Here */

/* Loader Starts Here */
.loader {
  width: 100%;
  height: 100vh;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
/* Loader Ends Here */
