@import url("./common.css");

* {
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-bottom: #222222 8px solid;
  background-image: url("../imgs/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
}

#header > nav img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

#header > nav button {
  width: 8em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 0.9rem;
}

#header > nav button p {
  font-size: 1rem;
  font-weight: 200;
}

@media (max-width: 750px) {
  #header > nav button {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  #header > nav button {
    font-size: 0.5rem;
  }

  #header > nav button p {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  #header > nav img {
    width: 40%;
  }
}

#header > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header > div h1,
#header > div h2 {
  font-weight: 500;
}

#header > div h1 {
  font-size: 3.5rem;
}

#header > div h2 {
  font-size: 3rem;
}

#header > div > p {
  font-size: 1.5rem;
}

#header > div > p:first-of-type {
  font-weight: 300;
  margin: 0.8em 0em;
}

#header > div > p:last-of-type {
  font-weight: 200;
  margin-bottom: 0.8em;
  text-shadow: 1px 1px 1px #000;
}

#header > div > .formContainer {
  width: 100%;
  text-align: center;
}

@media (max-width: 830px) {
  #header > div h1 {
    font-size: 3rem;
  }
  #header > div h2 {
    font-size: 2.5rem;
  }

  #header > div > p {
    font-size: 1.2rem;
  }
}

@media (max-width: 635px) {
  #header > div h1 {
    font-size: 2.5rem;
  }
  #header > div h2 {
    font-size: 2rem;
  }

  #header > div > p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  #header > div h1 {
    font-size: 2rem;
  }
  #header > div h2 {
    font-size: 1.5rem;
  }

  #header > div > p {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  #header > div h1 {
    font-size: 1.5rem;
  }
  #header > div h2 {
    font-size: 1.3rem;
  }
}

#header .formContainer .inputContainer {
  width: fit-content;
  height: 10vh;
  margin: 0 auto;
  position: relative;
  display: flex;
}

#header .formContainer .inputContainer input {
  position: relative;
  width: 40vw;
  height: 100%;
  font-size: 1.2rem;
  padding: 1.8em 1em 1em;
  color: #000;
  border: none;
  outline: none;
  border-radius: 0.3em 0 0 0.3em;
}

#header .formContainer .inputContainer input:focus {
  outline: 1px #002727 solid;
  border: none;
}

#header .formContainer .inputContainer label {
  position: absolute;
  left: 10px;
  top: 25%;
  color: black;
  font-size: 1.2rem;
  transition: transform 0.2s, color 0.2s, font-weight 0.2s, font-size 0.2s;
}

#header .formContainer .inputContainer input:focus ~ label {
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
  transform: translateY(-75%);
  transition: transform 0.2s, color 0.2s, font-weight 0.2s, font-size 0.2s;
}

#header .formContainer .inputContainer button {
  height: 100%;
  width: 15vw;
  font-size: 1.2rem;
  border-radius: 0em 0.3em 0.3em 0;
}

#header .formContainer .inputContainer button p {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 900px) {
  #header .formContainer .inputContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  #header .formContainer .inputContainer input {
    border-radius: 0.3em;
    margin-bottom: 0.5em;
    height: 5vh;
    width: 60vw;
  }

  #header .formContainer .inputContainer button {
    border-radius: 0.3em;
    height: 5vh;
    width: 30vw;
  }

  #header .formContainer .inputContainer label {
    top: 13%;
  }
}

@media (max-width: 480px) {
  #header .formContainer .inputContainer input {
    font-size: 1rem;
  }

  #header .formContainer .inputContainer button p {
    font-size: 0.7rem;
  }

  #header .formContainer .inputContainer label {
    font-size: 1rem;
  }

  #header .formContainer .inputContainer input:focus ~ label {
    font-size: 0.6rem;
  }
}
